<style>

.userName
{
    text-align: right;
}    
.myGrid 
{
    width: 100%;
    height: 450px;
}
</style>

<div>

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-8">
                    Home Page
                </div>
                <div class="col-md-4 userName">
                    {{vm.CurrentUserName}}
                </div>
              </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Añadir Libros</div>
        <div class="panel-body">
            <form>

                <div class="form-group">
                  <label for="TbTitle">Título del libro</label>
                  <input type="text" class="form-control" id="TbTitle" ng-model="vm.BookTitle" placeholder="Escriba un título">
                </div>

                <div class="form-group">
                  <label for="TbAuthor">Autor</label>
                  <input type="text" class="form-control" id="TbAuthor" ng-model="vm.AuthorName" placeholder="Escriba el nombre del autor">
                </div>
                
                <button type="button" class="btn btn-default" ng-click="vm.AddBook()">Add Book</button>
            </form>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Libros en préstamo</div>
        <div class="panel-body">
            <div ui-grid="{ data: vm.Books }" class="myGrid" ui-grid-auto-resize></div>
        </div>
    </div>


</div>