<style>

.myDiv
{
    background-color: blue; 
    width: 100px; 
    height: 100px;
    color: red;
}

</style>

<div>
    <label>
        pon tu nombre:
        <input id="TbName" type="text" />
    </label>
    <button onclick="SayHello()">hola</button>
    <input type="button" value="hola"/>
    
</div>

<script>

    Console =
    {
        WriteLine: (msg) => { console.log(msg); }
    }

    Array.prototype.__defineGetter__("Count", function ()
    {
        return this.length;
    });

    function SayHello()
    {
        let name = TbName.value;
        alert(`hola ${name}`);

        TbName.value = `bienvenido ${name}`;
    }

    function GetAverageExamRank(grades)
    {
        // usando bucle while
        let count1 = 0;
        let suma1 = 0.0;

        while (true)
        {
            if (grades[count1] < 0)
                continue;

            //suma = suma + grades[count];
            suma1 += grades[count1];
            count1++;

            if (count1 == grades.length)
                break;
        }

        let avg1 = suma1 / grades.length;

        // usando bucle for

        let suma2 = 0.0;

        for (let i = 0; i < grades.length; i++)
        {
            suma2 += grades[i];
        }

        let avg2 = suma2 / grades.length;

        // usando el foreach

        let suma3 = 0.0;

        // foreach (let grade in grades)
        grades.forEach((grade) =>
        {
            suma3 += grade;
        });

        let avg3 = suma2 / grades.Count;

        return avg3;

    }


    function Main()
    {
        let num;

        try
        {
            let a = 5 / num.Valor;
        }
        catch (error)
        {
            Console.WriteLine(error);
        }

        Console.WriteLine("el programa prosigue");


        let notas = [9.4, 8.9, 7, 4.3];
        let notaMedia = GetAverageExamRank(notas);

        alert("la nota media es " + notaMedia);
    }

    //Main();

</script>