<style>
h1
{
     word-wrap: break-word;
     -webkit-hyphens: auto;
     -moz-hyphens: auto;
     -ms-hyphens: auto;
     -o-hyphens: auto;
     hyphens: auto;
     text-align: center;
}

</style>

<div class="container">

    <h1>{{ vm.Title}}</h1>

    <login ng-show="!vm.IsLogon"></login>
    <home ng-show="vm.IsLogon"></home>

</div>